<form class="card" *ngIf="ready" [formGroup]="questionsForm" >
    <div class="form-group">
        <div class="form-control form_element">
            Q. {{question.question}}
            <br>

            <!--<input class="input_field" type="checkbox" formControlName="option" placeholder="Username"> -->{{option}}
            <input class="input_field" type="radio" (change)="log()"value="{{question.option[0]}}"
             formControlName="option"> {{question.option[0]}} <br>
            <input class="input_field" type="radio" (change)="log()"value="{{question.option[1]}}"
             formControlName="option"> {{question.option[1]}} <br>
            <input class="input_field" type="radio" (change)="log()"value="{{question.option[2]}}"
             formControlName="option"> {{question.option[2]}} <br>
            <input class="input_field" type="radio" (change)="log()"value="{{question.option[3]}}"
             formControlName="option"> {{question.option[3]}} <br>
        </div>
        <br> <br> <br>
        <button class="btn btn-secondary" *ngIf="!IsSubmit" (click)="submitAnswer()" id="submit_button1">Next</button>
    </div>
    <hr>
</form>